#sidebar a li > :hover {
  background-color: rgb(118 118 118);
}

#sidebar a.active li {
  background-color: rgb(118 118 118);
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.job-detail-json-cell {
  margin-bottom: 1px;
  color: blue;
  text-decoration: underline;
}

.job-detail-json-cell:hover {
  cursor: pointer;
}
