# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Configuration Files
.myConfig.json5
.homeAssistantConfig.json5
.pushoverConfig.json5
.twilioConfig.json5
.robotWebServer.json5
database.sqlite

# Website build location
website/

# Sound files that are big and copyrighted
Sounds/

__pycache__/
